body, html {
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
  }
  
  .login-page {
    display: flex;
    height: 100vh;
  }
  
  /* Header Styles */
.header {
    position: absolute;
    top: 25px;
    right: 40px;
    display: flex;
    gap: 10px;
  }
  
  .signup-btn {
    font-size: 14px;
    color: #3B3C51;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;

  }
  
 .login-btn{
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1B48DA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
 }
  .left-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-image .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
 
  
  .left-image .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .form-container {
    width: 80%;
    max-width: 400px;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3B3C51;
    border-radius: 5px;
    margin: 0;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1B48DA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 5px;
  
  }
  
  
  
  p {
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  /* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .left-image {
      display: none; /* Hide the left image on mobile view */
  }

  .login-page {
      flex-direction: column; /* Stack elements vertically */
  }

  .right-form {
      flex: 1; /* Allow the right form to take full width */
  }
}